.pd-static {
  border: 1px solid black;
  padding: 2rem;
}
.btn-add {
  width: 100%;
  margin-top: 1rem;
  background-color: #5cb85c;
  color: white;
}
.App {
  text-align: center;
  max-width: 90%;
  margin: 3rem  auto;
}
.ant-btn:hover,
.ant-btn:focus {
  border-color: transparent;
}
